Students that participated
Sondre Linnestad (s364772)
Konrad Dabrowski (s366446)
Elvis co (s364734)
Github Repo: https://github.com/ElvisCo02/OB2
Website: https://elvisco02.github.io/OB2/

@font-face {
    font-family: 'Lato';
    src:url('assets/fonts/lato-regular-webfont.woff') format('woff'),
}

@font-face {
    font-family: 'Montserrat-Bold';
    src:url('assets/fonts/montserrat-bold-webfont.woff') format('woff'),
}

html {
    font-size: 14px;     
}

body {
    margin: 0 auto;
    font-size: 1.2rem;  
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif; 
}
h1{
    font-family: 'montserrat', sans-serif;
    font-size: 4rem;
    padding: 2%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    padding: 2%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    padding: 2%
}
p{
    padding-left: 2%;
    line-height: 1.5;
    max-width: 70ch;
}

header {
    height: 55vh;
    background-image: url(assets/img/studentsbg.png);
    margin: 0 auto;
    position: relative;
    padding-top: 3rem;
    background-size: cover;
    width: 100%;

}

header div {
    background-color: #c5192d;
    position: absolute;
    bottom: -4rem;
    padding-bottom: 1rem;    
    box-sizing: border-box; 
    margin: 0 0.5rem;
    padding-top: 3rem;
    color: white;
    text-align: center;
    height: 65vh;
    margin: 0 auto;
}

main { 

    background-color: whitesmoke;
    padding: 0 0 2rem 0;
}

#intro-container {
    box-sizing: border-box;
    background-color: #c5192d;  
    margin: 6rem auto;
    padding: 2rem 2rem;
}

#intro-container div ul > li:nth-child(1) {
    list-style: "\1F64C ";
    list-style-position: outside;
}

#intro-container div ul > li:nth-child(2) {
    list-style: "\1F3EB ";
    list-style-position: outside;
}

#intro-container div ul > li:nth-child(3) {
    list-style: "\1F4DA ";
    list-style-position: outside;
    
}

article:nth-child(2){
    box-sizing: border-box;
    padding: 0rem 2rem;   
    border-bottom: 0.2px solid darkgray; 
    margin: 2rem 0 0 0;  
}

article:nth-child(3){
    box-sizing: border-box;
    padding: 0rem 3rem;
    display: table;   
    margin: 3rem 0 0 0;   
}

article:nth-child(4){
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin: 2rem 0 0 0;  
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1.8rem 0;  
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #c5192d;
    clear: both;
    position: relative;
    height: 100px;
    color: white;
    text-align: center;
    }
    
@media screen and (min-width: 600px) and (max-width: 960px) {
    body {
            font-size: 16px;
    }
    
    header {
            height: 65vh;
            margin: 0 auto;
    }
    
    header div {
        box-sizing: border-box;
        left: 7.5%;
        margin: 0 auto;

    }
    
    header div p {
        margin: 0 auto;
    }
    
    header div, main, footer {
        width: 85%;
    }
    
    main {
            margin: 2rem auto;
       }
    
       article {
        column-count: 2;
        column-width: auto;
    }

    article:nth-child(2) img {
        float: right;
    }

    article:nth-child(3) {
        padding: 2rem 2rem;
        margin: auto;
    }

    article:nth-child(3) img {
        margin: auto;
        max-width: 40%;  
        float: left;
        padding: auto;

    }

    article:nth-child(3) div {
        float: right;
        max-width: 40%;
    }

    article:nth-child(4) img {
        margin: auto;
        padding: auto;
    }
    
        #intro-container {
            background: linear-gradient(90deg, #c5192d 50%, whitesmoke 50%);
            margin-bottom: 0;
            border-bottom: 0.1px solid darkgray;

        }     
    
        article:nth-child(3) {
            border-bottom: 0.1px solid darkgray;
        }
    
        footer {
            margin: 0 auto;
        }
    }
    

@media screen and (min-width: 960px) and (max-width:2000px) {
    body {
        font-size: 24px;
    }

    main {
        margin: 2rem auto;
    }

    header div {
        margin: 0 auto;
        left: 15%;
        box-sizing: border-box;
        height: 65vh;

    }

    header div, main, footer {
        width: 70%;
    }

    article {
        column-count: 2;
        column-width: auto;
    }

    article:nth-child(2) img {
        float: right;
    }

    article:nth-child(3) {
        padding: 2rem 2rem;
        margin: auto;
    }

    article:nth-child(3) img {
        margin: auto;
        padding: auto;
        max-width: 40%;  
        float: left;
    }

    article:nth-child(3) div {
        float: right;
        max-width: 40%;
    }

    article:nth-child(4) img {
        margin: auto;
        padding: auto;
    }

    #intro-container {
        background: linear-gradient(90deg, #c5192d 50%, whitesmoke 50%);
        border-bottom: 0.1px solid darkgray;
        margin-bottom: 0;
    }     

    footer {
        margin: auto;
    }
}


